[Unit]
Description=Periodic run of blockchecker.sh

[Timer]
OnCalendar=*-*-* 1,5,9,13,17,21:49:00
Unit=blockchecker.service

[Install]
WantedBy=timers.target
